//------------ Variables
// color
$primary-light: #9feadc;
$primary-dark: #238270;
$fc-light: #6d66b9;
// font
$timer: 35rem;


//------------ Main Styles
*, *::before, *::after {
  box-sizing: border-box;
}
html,
body, {
  font-size: 62.5%; //resets rem
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $primary-light;

  .page-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1150px;
    height: auto;
  }
}

#nav-bar{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background: $primary-light;

  svg {
    height: 5rem;
    width: 5rem;
    color: $primary-dark;
  }

  .buttons{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;

    div{
      margin: 50px 0;
      cursor: pointer;
    }
  }


}
#timer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  #time {
    color: $fc-light;
    font-size: $timer
  }
}
